body {
	background: url(images/bg.jpg);
	color: #0a4f89;
	font-family: 'Josefin San', sans-serif;
}

header {
	text-align: center;
}

header h1 {
	font-size: 18px;
	line-height: 0.2;
}

header h2 {
    font-size: 14px;
	line-height: 0.4;
}

section {
	color: #f7ac84;
	margin: 0 0 0 10%;
	line-height: 1.5;
}

section h2{
	font-size: 12px;
	margin: 0;
}

section h3{
	font-size: 10px;
	margin: 0;
}

.graph {
	float: left;
	width: 50%;
}

.chart {
	width: 235px;
	height: 140px;
}

.chart rect{
	fill: #f27938;
	stroke: #fff;
	stroke-width: 0.05em;
}

.chart path{
	stroke: #f27938;
	stroke-width: 2px;
	fill: none;
}

.areas{
	fill: #f27938;
}

.chart line{
	stroke: #f27938;
	stroke-width: 2px;
}

.chart circle{
	fill: #f27938;
}

.tooltip {
	color: #0a4f89;
	position: absolute;
}