body {
	background: url(images/bg.jpg);
	color: #600026;
	font-family: 'Josefin San', sans-serif;
}

header {
	text-align: center;
}

header h1 {
	font-size: 18px;
	line-height: 0.2;
}

header h2 {
    font-size: 14px;
	line-height: 0.4;
}

section {
	margin: 0;
	line-height: 1.5;
}

section h2{
	font-size: 12px;
	margin: 0 0 5px 15px;
}

#info {
	text-align: center;
	font-size: 14px;
	height: 15px;
}
	
.charts {
	float: left;
	border: 1px solid lightgray;
    margin: 2px;
}

#states {
    stroke: #fff;
    fill: #fed976;
}
        
.game {
    stroke: #9E9E9E;
    stroke-width: 0.8px;
    fill: #fff;
}
        
.team {
    stroke: rgb(255, 255, 255);
    fill: rgb(123, 123, 123);
}
    
#links > line {
	stroke: #fed976;
}
        
#xAxis path,
#yAxis path {
    fill: none;
    stroke: black;
}

#xAxis,
#yAxis text {
	font-size: 8px;
}